name: Runner

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  run_app:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '>=1.20.2'

    - name: Check RSS updates and send them over email.
      env:
        MINIFLUX_URL: "https://reader.miniflux.app/v1/"
        MINIFLUX_TOKEN: ${{ secrets.MINIFLUX_TOKEN }}
        SMTP_USERNAME: ${{ secrets.SMTP_USERNAME }}
        SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
        SEND_TO: ${{ secrets.TO_EMAIL }}
        CGO_ENABLED: 0
        CATEGORY: daily
        LIMIT: 3
      run: |
        go run main.go
